body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    margin: 0;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    padding-right: 50px;
}

h1 {
    text-align: center;
    color: #FBB57A;
    font-size: 24px;
    margin-bottom: 20px;
}

.name{
    display: flex;
}

.lname {
    padding-left: 50px;
}

.name input[type=text]{
    margin-left: 20px;

}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

p {
    margin: 10px;
}

.checkbox-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

button {
    background-color: #FBB57A;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 15px;
}

button:hover {
    background-color: #e19e59;
}

.star{
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    margin: 0 auto;
}

.star input {
    display: none;
}

.star label {
    font-size: 1.5rem;
    color: #ddd;
    cursor: pointer;
}

.star label:hover{
    color: #FBB57A;
}
